@using Tpr.Chat.Core.Models

@model dynamic

@{
    var messageDate = Model.Message.CreateDate.ToString("T");
    var nickname = Model.IsCurrent ? "Вы" : Model.Message.NickName;
}

<li>
    <div class="message @(Model.IsCurrent ? "place-left" : "place-right")">
        @switch (Model.Message.ChatMessageTypeId)
        {
            case ChatMessageTypes.Joined:
                @nickname @(Model.IsCurrent ? " подключились" : " подключился") @:к консультации <b class="message-date">@messageDate</b>
                break;
            case ChatMessageTypes.Message:
                <div class="message-bubble">@Html.Raw(Model.Message.MessageString)</div>@nickname <b class="message-date">@messageDate</b>
                break;
            case ChatMessageTypes.Leave:
                @nickname @(Model.IsCurrent ? " покинули" : " покинул") @:консультацию <b class="message-date">@messageDate</b>
                break;
        }
    </div>
</li>