@model IndexViewModel
@{
    var chatSession = @Model.ChatSession;
}

<div class="sidebar">
    <div class="sidebar-content">
        @if (Model.IsInRange)
        {
            <div class="switch-expert">
                <button id="switchExpertButton" class="custom-button expert-button"><img src="~/images/sidebar/switch.svg" alt="Сменить собеседника" /><span>Сменить собеседника</span></button>
            </div>
            <div class="sidebar-block remaining-time"><img src="~/images/sidebar/stopwatch.svg" alt="Оставшееся время" /><span><b id="remainingTime">00</b> минуты осталось</span></div>
        }
        <div class="sidebar-block">
            <ul class="appeal-info">
                <li style="font-weight: bold;">Сведения об аппеляции</li>
                <li><div class="appeal-caption">Начало онлайн консультации</div><div class="appeal-value">@chatSession.StartTime</div></li>
                <li><div class="appeal-caption">Завершение онлайн консультации</div><div class="appeal-value">@chatSession.FinishTime</div></li>
                <li><div class="appeal-caption">Номер апелляции</div><div class="appeal-value">@chatSession.AppealNumber</div></li>
                <li><div class="appeal-caption">Предмет</div><div class="appeal-value">@chatSession.SubjectName</div></li>
                <li><div class="appeal-caption">Дата экзамена</div><div class="appeal-value">@chatSession.ExamDate</div></li>
                <li><div class="appeal-caption">Зарегистрирована</div><div class="appeal-value">@chatSession.RegistrationDate</div></li>
                <li><div class="appeal-caption">Подано заявление</div><div class="appeal-value">@chatSession.ApplicationDate</div></li>
            </ul>
        </div>
        <div class="sidebar-block contacts-info">
            <div id="contactsButton" class="contacts-button">
                <b style="flex: auto;">Контакты</b>
                <img id="contactsChevron" src="~/images/sidebar/right-chevron.svg" class="arrow-chevron" alt="Back" />
            </div>
            <div id="contactsTooltip" class="contacts-tooltip">
                <button id="closeHelpButton" class="custom-button close-button"><img src="~/images/sidebar/close.svg" /></button>
                <ul class="contacts-list">
                    <li>
                        <div class="contact-title">Справочная служба конфликтной комиссии г. Москвы</div>
                        <div>Время работы: пн - сб с 9:00 до 19:00,<br />выходные - воскресенье и праздничные дни</div>
                    </li>
                    <li>
                        <div class="contact-title">Официальный <b>электронный адрес конфликтной комиссии</b> при проведении государственной итоговой аттестации по образовательным программам <b>среднего общего образования</b>:</div>
                        <a class="contact-link" href="mailto:kk77@mcko.ru"><img src="~/images/sidebar/envelope.svg" alt="Электронная почта" />kk77@mcko.ru</a>
                    </li>
                    <li>
                        <div class="contact-title">Официальный <b>электронный адрес конфликтной комиссии</b> при проведении государственной итоговой аттестации по образовательным программам <b>общего общего образования</b>:</div>
                        <a class="contact-link" href="mailto:kkgia9@mcko.ru"><img src="~/images/sidebar/envelope.svg" alt="Электронная почта" />kkgia9@mcko.ru</a>
                    </li>
                    <li>
                        <div class="contact-title">Информационно-консультационный центр регионального центра обработки информации города Москвы:</div>
                        <a class="contact-link" href="tel:+74953660692"><img src="~/images/sidebar/phone.svg" alt="Телефон" />+7 (495) 366-06-92</a>
                    </li>
                    <li>
                        <div class="contact-title">Общественная приемная регионального центра обработки информации города Москвы:</div>
                        <div>г. Москва, Семеновская пл., д.4</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="sidebar-footer">2018 (C) Конфликтная комиссия города Москвы</div>
</div>