@model IndexViewModel
@{
    var chatSession = @Model.ChatSession;
}

<div class="sidebar">
    <div class="sidebar-content">
        @if (Model.IsInRange)
        {
            <div class="switch-expert">
                <button id="switchExpertButton" class="custom-button expert-button">
                    <img src="~/images/reload.svg" style="height: 25px; vertical-align: middle; margin-right: 10px;" alt="Reload" />
                    <span style="vertical-align:middle;">Сменить собеседника</span>
</button>
            </div>
            <div class="sidebar-block remaining-time">
                <img src="~/images/stopwatch.svg" style="height: 25px; vertical-align: middle; margin-right: 10px;" alt="Stopwatch" />
                <span style="vertical-align:middle;"><b id="remainingTime">00</b> минуты осталось</span>
            </div>
        }

        <ul class="sidebar-block appeal-info">
            <li style="font-weight: bold;">Сведения об аппеляции</li>
            <li><div class="appeal-caption">Начало онлайн консультации</div><div class="appeal-value">@chatSession.StartTime</div></li>
            <li><div class="appeal-caption">Завершение онлайн консультации</div><div class="appeal-value">@chatSession.FinishTime</div></li>
            <li><div class="appeal-caption">Номер апелляции</div><div class="appeal-value sidebar-highlight">@chatSession.AppealNumber</div></li>
            <li><div class="appeal-caption">Предмет</div><div class="appeal-value sidebar-highlight">@chatSession.SubjectName</div></li>
            <li><div class="appeal-caption">Дата экзамена</div><div class="appeal-value sidebar-highlight">@chatSession.ExamDate</div></li>
            <li><div class="appeal-caption">Зарегистрирована</div><div class="appeal-value sidebar-highlight">@chatSession.RegistrationDate</div></li>
            <li><div class="appeal-caption">Подано заявление</div><div class="appeal-value sidebar-highlight">@chatSession.ApplicationDate</div></li>
        </ul>
        <div class="sidebar-block contacts-info">
            <div id="contactsButton" class="contacts-button">
                <b style="flex: auto;">Контакты</b>
                <img id="contactsChevron" src="~/images/right-chevron.svg" class="arrow-chevron" alt="Back" />
            </div>
            <div id="contactsTooltip" class="contacts-tooltip">
                <button id="closeHelpButton" class="custom-button close-help-button"></button>
                <ul class="contacts-list">
                    <li>
                        <div style="margin-bottom: 10px;">Справочная служба конфликтной комиссии г. Москвы</div>
                        <div>Время работы: пн - сб с 9:00 до 19:00,<br />выходные - воскресенье и праздничные дни</div>
                    </li>
                    <li>
                        <div style="margin-bottom: 10px;">Официальный <b>электронный адрес конфликтной комиссии</b> при проведении государственной итоговой аттестации по образовательным программам <b>среднего общего образования</b>:</div>
                        <div>
                            <img src="~/images/envelope.svg" style="height: 20px; vertical-align: middle; margin-right: 10px;" alt="Email" />
                            <a class="contact-link" href="mailto:kk77@mcko.ru">kk77@mcko.ru</a>
                        </div>
                    </li>
                    <li>
                        <div style="margin-bottom: 10px;">Официальный <b>электронный адрес конфликтной комиссии</b> при проведении государственной итоговой аттестации по образовательным программам <b>общего общего образования</b>:</div>
                        <div>
                            <img src="~/images/envelope.svg" style="height: 20px; vertical-align: middle; margin-right: 10px;" alt="Email" />
                            <a class="contact-link" href="mailto:kkgia9@mcko.ru">kkgia9@mcko.ru</a>
                        </div>
                    </li>
                    <li>
                        <div style="margin-bottom: 10px;">Информационно-консультационный центр регионального центра обработки информации города Москвы:</div>
                        <div>
                            <img src="~/images/phone-call.svg" style="height: 20px; vertical-align: middle; margin-right: 10px;" alt="Phone" />
                            <a class="contact-link" href="tel:+74953660692">+7 (495) 366-06-92</a>
                        </div>
                    </li>
                    <li>
                        <div style="margin-bottom: 10px;">Общественная приемная регионального центра обработки информации города Москвы:</div>
                        <div>г. Москва, Семеновская пл., д.4</div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer">2018 (C) Конфликтная комиссия города Москвы</div>
</div>