@model IndexViewModel

@{
    ViewData["Title"] = "Система онлайн консультирования по вопросам";
}

@section Styles{
    <link rel="stylesheet" type="text/css" href="~/css/early-complete.css" />
}

    <div class="container">
        <partial name="_Header" />

        <div class="content">
            <div class="header">
                <div class="moscow-time">
                    <div class="highlight">@DateTime.Now.ToLongDateString()</div>
                    <div>Московское время: <span class="highlight">@DateTime.Now.ToString("t")</span></div>
                </div>
                <div class="info">
                    <img class="one-line" src="~/images/hourglass.png" />
                    <div style="display: inline-block; vertical-align: middle; font-size: 24px; color:#f8941f" >Время онлайн консультации по Вашей апелляции еще не наступило</div>
                </div>
                <div class="remaining-time">Консультация начнется через: <span id="remainingTime">@Model.ChatSession.StartTime.Subtract(DateTime.Now).ToString("hh\" часа(-ов) \"mm\" минут(-ы)\"")</span></div>
            </div>
            <div class="main">
                <div class="info-block">
                    <div class="header">Сведения об аппеляции</div>
                    <ul>
                        <li class="info-item">Дата и время подачи заявления: <strong>@Model.ChatSession.ApplicationDate.ToString("g")</strong></li>
                        <li class="info-item">Номер апелляции: <strong>@Model.ChatSession.AppealNumber</strong></li>
                        <li class="info-item">Дата и время регистрации заявления: <strong>@Model.ChatSession.RegistrationDate.ToString("g")</strong></li>
                        <li class="info-item">Предмет: <strong>@Model.ChatSession.Subject</strong></li>
                        <li class="info-item">Дата экзамена: <strong>@Model.ChatSession.ExamDate.ToShortDateString()</strong></li>
                        <li class="info-item">Дата и время начала онлайн консультации: <strong>@Model.ChatSession.StartTime.ToString("g")</strong></li>
                        <li class="info-item">Дата и время окончания онлайн консультации: <strong>@Model.ChatSession.FinishTime.ToString("g")</strong></li>
                    </ul>
                </div>
                <div class="info-block">
                    <div class="header">Справочная информация</div>
                    <div>
                        <div style="margin-bottom: 10px;">
                            <div class="one-line">Инструкция по работе с системой онлайн консультации и системой онлайн трансляции заседания конфликтной комиссии  </div>
                            <img class="one-line" src="~/images/download.png" />
                        </div>
                        @*<div><strong>Справочная служба конфликтной комиссии г. Москвы</strong></div>*@
                        @*<div style="margin-bottom: 10px;">
                            <div>Горячая линия по работе конфликтной комиссии при проведении государственной итоговой аттестации по образовательным программам среднего общего образования:</div>
                            <img class="one-line" src="~/images/phone-call.png" />
                            <div class="one-line"><a href="tel:+74953660692">+7 (495) 366-06-92</a></div>
                        </div>*@
                        <div style="margin-bottom: 10px;">
                            <div>Официальный электронный адрес конфликтной комиссии при проведении государственной итоговой аттестации по образовательным программам среднего общего образования:</div>
                            <img class="one-line" src="~/images/EMail.png" />
                            <div class="one-line"><a href="mailto:kk77@mcko.ru">kk77@mcko.ru</a></div>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <div>Официальный электронный адрес конфликтной комиссии при проведении государственной итоговой аттестации по образовательным программам основного общего образования:</div>
                            <img class="one-line" src="~/images/EMail.png" />
                            <div class="one-line"><a href="mailto:kkgia9@mcko.ru">kkgia9@mcko.ru</a></div>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <div>Информационно-консультационный центр регионального центра обработки информации города Москвы:</div>
                            <img class="one-line" src="~/images/phone-call.png" />
                            <div class="one-line"><a href="tel:+74953660692">+7 (495) 366-06-92</a></div>
                        </div>
                        <div style="margin-bottom: 10px;">
                            <div>Общественная приемная регионального центра обработки информации города Москвы:</div>
                            <div>Адрес: город Москва, Семеновская пл. д.4.</div>
                            <div>График работы: понедельник - пятница с 9:00 до 18:00, в дни проведения экзаменов – с 7:30 до 18:00</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <partial name="_Footer" />
    </div>
