@using Tpr.Chat.Core.Models
@model Tpr.Chat.Web.Models.IndexViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div id="infoPanel" class="sidebar" style="padding: 20px;">
    <div class="sidebar-content">
        <div class="sidebar-block" style="text-align: center; border-bottom: 1px solid #000">
            <div class="expert-info">
                <div>Вас консультирует</div>
                <div style="font-size: 20px">Член конфликтной комиссии</div>
                <div>№<span id="expertKey">000</span></div>
                <div>№<span id="expertKey">000</span></div>
            </div>
            <button id="switchExpert" class="custom-button" style="width: 100%;"><i class="fas fa-exchange-alt glyph"></i>Сменить собеседника</button>
            <button class="complete-button custom-button"><i class="fas fa-check-circle glyph"></i>Завершить консультацию</button>
        </div>
        <div class="sidebar-block">
            <div>Номер аппеляции</div>
            <div id="appealNumber">000</div>
            <div>Подано заявление</div>
            <div id="appealExamDate">00.00.0000</div>
            <div>Зарегистрирована</div>
            <div id="appealExamDate">00.00.0000</div>
            <div>Предмет</div>
            <div id="appealSubject">Отсутствует</div>
            <div>Дата экзамена</div>
            <div id="appealExamDate">00.00.0000</div>
        </div>
        <div class="sidebar-block">
            <div><a href="#">Инструкция по работе с чатом</a></div>
            <div>Справочная служба конфликтной комиссии г. Москвы</div>
            <div><i class="fas fa-exchange-alt glyph"></i>+7 (499) 653-94-50</div>
            <div><i class="fas fa-exchange-alt glyph"></i>kk77@mcko.ru</div>
        </div>
    </div>
    <div class="sidebar-footer" style="text-align: center">Московское время: <span id="moscowTime">00:00</span></div>
</div>
<div class="content">
    <ul id="messagesList" class="message-history">
        @foreach (var message in Model.Messages)
        {
            var messageDate = @message.CreateDate.ToString("HH:mm:ss");

            <li>
                <div class="message @(message.NickName == "Аппелянт" ? "place-left" : "place-right")">
                    @switch (message.ChatMessageTypeId)
                    {
                        case ChatMessageTypes.Joined:
                            <span class="nickname">@message.NickName</span> @:подключился к консультации <span>(@messageDate) </span>
                            break;
                        case ChatMessageTypes.Message:
                            <div class="message-bubble">@Html.Raw(message.MessageString)</div><span class="nickname">@message.NickName</span> <span>(@messageDate)</span>
                            break;
                        case ChatMessageTypes.Leave:
                            <span class="nickname">@message.NickName</span> @:покинул консультацию <span>(@messageDate)</span>
                            break;
                    }
                </div>
            </li>
        }
    </ul>
    <div class="footer">
        <div class="time-caption">До конца консультации осталось: <span id="remainingTime">00</span></div>
        <div id="emojiGrid" class="emoji-grid" style="display:none;"></div>
        <div class="message-form">
            <button id="emojiButton" class="form-button"><i class="far fa-smile"></i></button>
            <textarea id="messageInput" class="send-textbox" data-min-rows="1" rows="1" autocomplete="off" placeholder="Введите сообщение..."></textarea>
            <button id="sendButton" class="form-button"><i class="far fa-paper-plane"></i></button>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        var appealId = "@Model.AppealId";
        var expertKey = "@Model.ExpertKey";
    </script>
    <script type="text/javascript" src="~/lib/signalr/signalr.js"></script>
    <script type="text/javascript" src="~/js/chat.js"></script>
}
