@using Tpr.Chat.Core.Constants
@using Tpr.Chat.Core.Models
@model Tpr.Chat.Web.Models.IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div id="infoPanel" class="sidebar">
    @if (Model.ExpertKey == 0)
    {
        <div class="expert-info" style="text-align: center; padding: 10px; border-bottom: 1px solid #000">
            <div class="expert-image"><img style="width: 150px; height: 150px;" src="~/images/account.png" alt="Account" /></div>
            <div class="expert-name" style="font-size: 20px">Член конфликтной комиссии <br /> №{ EXPERT_NUMBER }</div>
            <hr />
            <a href="#" class="link-button"><i class="fas fa-exchange-alt glyph"></i>Сменить собеседника</a>
        </div>
    }
    <div class="appeal-info" style="padding:15px;">
        <ul style="list-style: none; margin: 0; padding: 0">
            <li style="border-bottom: 1px solid #000; padding: 15px 0;"><span>Номер аппеляции</span><span style="float: right">{ APPEAL_NUMBER }</span></li>
            <li style="border-bottom: 1px solid #000; padding: 15px 0;"><span>Предмет</span><span style="float: right">{ APPEAL_SUBJECT }</span></li>
            <li style="padding: 15px 0;"><span>Дата экзамена</span><span style="float: right">{ APPEAL_EXAMDATE }</span></li>
        </ul>
    </div>
    <div class="sidebar-footer" style="text-align: center">
        <div class="moscow-time" style="padding: 5px; border-bottom: 1px solid">Московское время: { MOSCOW_TIME }</div>
        <div class="hide-info-panel" onclick="switchInfoPanel(false)"><i class="fas fa-chevron-circle-up glyph" style="font-size: 20px;"></i>Скрыть информационную панель</div>
    </div>
</div>
<div class="content">
    <div class="header">
        <div id="hideInfoPanelButton" onclick="switchInfoPanel(true)" style="float: right; border-left: 1px solid #000" class="hide-info-panel"><i class="fas fa-chevron-circle-down glyph" style="font-size: 20px;"></i>Показать информационную панель</div>
        <a href="#" class="complete-button link-button"><i class="fas fa-check-circle glyph"></i>Завершить консультацию</a>
        <div class="caption"><i class="fab fa-adn glyph" style="font-size: 26px;"></i>Система онлайн-консультирования по вопросам...</div>
    </div>
        <ul id="messagesList" class="message-history">
            @foreach (var message in Model.Messages)
            {
                var messageDate = @message.CreateDate.ToString("HH:mm:ss");

                <li>
                    <div class="message @(message.NickName == "Консультант" ? "place-right" : "place-left")">
                        @switch (message.ChatMessageTypeId)
                        {
                            case ChatMessageTypes.Joined:
                                <span>@message.NickName</span> @:подключился к консультации <span>(@messageDate) </span>
                                    break;
                                case ChatMessageTypes.Message:
                                    <div class="message-bubble">@Html.Raw(message.MessageString)</div><span class="nickname">@message.NickName</span> <span>(@messageDate)</span>
                                    break;
                                case ChatMessageTypes.Leave:
                                    <span>@message.NickName</span> @:покинул консультацию <span>(@messageDate)</span>
                                        break;
                            }
                </div>
            </li>
        }
        </ul>
    <div class="footer">
        <div class="time-caption">До конца консультации осталось <span id="remaining-time">{ REMAINING_TIME }</span> минут</div>
        <div id="emojiGrid" class="emoji-grid" style="display:none;"></div>
        <div class="message-form">
            <div id="emojiButton" class="form-button" onclick="switchEmojiPanel()"><i class="far fa-smile"></i></div>
            <textarea id="messageInput" class="send-textbox" data-min-rows="1" rows="1" autocomplete="off" placeholder="Введите сообщение..."></textarea>
            <div id="sendButton" class="form-button"><i class="far fa-paper-plane"></i></div>
        </div>
    </div>
</div>
<script>
    var appealId = "@Model.AppealId";
    var expertKey = "@Model.ExpertKey";
</script>

<script src="~/lib/signalr/signalr.js"></script>
<script src="~/js/chat.js"></script>
